<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. MatplotLib
3. Numpy
4. Plotly
5. TensorFlow

| Data Science Tools |
|---|
| Github |
|Jupyter Notebook|
|R Studiio|
|Apache Atlas|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
a = (3*4) + 5
print(a)

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
print("200 Min = " +  str(round(200/60,2)) +" Hrs")

200 Min = 3.33 Hrs

***Objectives:***
- Python
- SQL
- R
- Julia
- Java

## Author
Vinamra Sharma